/* line 1, ../sass/views.scss */
.view-photos {
  width: 100%;
  float: left;
  margin-bottom: 2em;
}

/* line 6, ../sass/views.scss */
.view-photos .views-field-field-photo {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
