  #navbar ul.menu {
    float: right;
    width: 620px;
  }
  #navbar .navbar-inner {
    width: 960px;
  }
  .front .panel-pane .pane-inner {
    left: 50%;
    margin-left: -480px;
    width: 960px;
  }
  .front .panel-pane .pane-inner2 {
    width: 400px;
  }
  .front .pane-views-photos-block .pane-inner2 {
    width: 100%;
  }
